## A comparison with RStudio + Rmarkdown + trying ggplot and dplyr in pyton:

Note: this is very poorly organized.

Pros for jupyter:

 - it's nice to see the plots, meaning you use less commands and _more importantly_ it allows you to be a better writer - it's significantly easier to write about a plot when it's write in front of you. In R you'd have to write in the comments or in RMarkdown. 
 - tables are better rendered 
 - you can easily switch to Python or a bunch of other languages
 - it makes data analysis/manipulation/visualization/modelling a one step process
 
 Cons:
 - your code is scattered - makes it a little difficult to keep track of what you're doing if you're writing complicated code
 - the syntax support isn't as good as in Rstudio
 - certain packages - especially interactive visualizations like plotly don't seem to work.
 - ordering and numbering output is confusing IMHO


 
# **Let's switch to  the Python 3 kernel now:**

In [4]:
import pandas as pd
import ggplot as ggplot #had to download this one
from ggplot import *

%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [5]:
diamonds =pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/diamonds.csv")

In [6]:
diamonds.head(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

Great it looks just like the diamonds set R users have grown to love.

In [3]:
(ggplot(aes(x='depth', y='carat',color="clarity"), data=diamonds.head(200)) 
     + geom_point() 
     + facet_wrap("cut") 
     + theme_bw())

NameError: name 'ggplot' is not defined

## Let's look at dplython - dplyr in python

In [20]:
from dplython import *

In [21]:
diamonds >> select(X.carat, X.cut, X.price) >> head(5)

   carat      cut  price
0   0.23    Ideal    326
1   0.21  Premium    326
2   0.23     Good    327
3   0.29  Premium    334
4   0.31     Good    335

Nice! I also like the ">>" better than "%>%", sweet.

In [32]:
(diamonds >> 
    group_by(X.cut) >> 
    summarize(mean_price = X.price.mean()))

         cut   mean_price
0      Ideal  3457.541970
1  Very Good  3981.759891
2       Fair  4358.757764
3       Good  3928.864452
4    Premium  4584.257704